.skip-nav {

}

.nav-container {
  display: flex;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  padding: 1rem;
  backdrop-filter: blur(10px);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  /* background-color: #000000; */
  transition: all 0.5s ease-in-out;
  /* background-color: var(--pink); */
}

.nav-container[data-nav-state='nav-down'] {
  height: 70px;
  transform: translateY(calc(70px * -1));
  /* box-shadow: 0 10px 30px -10px var(--pink); */
}

.nav-container[data-nav-state='nav-up'] {
  height: 70px;
  transform: translateY(0px);
  background-color: rgba(21, 14, 28, 0.85);
  /* box-shadow: 0 10px 30px -10px var(--pink); */
}

@media (max-width: 468px) {
  .nav-container {
    padding: 1rem;
    justify-content: center;
  }

  .nav-container a{
    margin-right: .25rem;
  }
}