.social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
.icon {
  width: 1.75rem;
  height: 1.75rem;
}

.social-list {
  display:flex;
  justify-content: center;
}

.social-list li {
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  border: none;
  outline-offset: 10px;
}

.social-list::after, .social-list::before {
  content: '';
  width: 27vw;
  display: block;
  margin: auto;
  height: 1px;
  background-color: var(--pink);
}

@media only screen and (min-width: 998px) {
  .social-container {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 20;
    display: block;
    padding: 0;
  }
  
  .social-list {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .social-list li {
    padding: 1rem 0;
    position: relative;
    vertical-align: middle;
    border: none;
  }
  
  .social-list li:first-child {
    margin-top: 2rem;
  }
  
  .social-list li:last-child {
    margin-bottom: 2rem;
  }
  
  
  .social-list a::before,
  .social-list a::after {
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 3rem;
      height: 3rem;
    }
  
  .social-list a::before,
  .social-list a::after {
    top: .35rem;
    left: -.63rem;
  }
  
  .social-list a::before {
    border: 2px solid transparent;
  }

  .social-list a:focus {
    outline: none;
  }
  
  .social-list a:hover::before, .social-list a:focus::before {
    border-top-color: var(--pink);
    border-right-color: var(--pink);
    border-bottom-color: var(--pink);
  
    transition:
      border-top-color 0.15s linear,
      border-right-color 0.15s linear 0.10s,
      border-bottom-color 0.15s linear 0.20s;
  }
  
  .social-list a::after {
    border: 0 solid transparent;
  }
  
  .social-list a:hover::after, .social-list a:focus::after {
    border-top: 2px solid var(--pink);
    border-left-width: 2px;
    border-right-width: 2px;
    transform: rotate(270deg);
    transition:
      transform 0.4s linear 0s,
      border-left-width 0s linear 0.35s;
  }
  
  
  .social-list a {
    border-radius: 100%;
    box-shadow: none;
  }
  
  .social-list a::before, .social-list a::after {
    border-radius: 100%
  }
  
  .icon {
    width: 1.75rem;
    height: 1.75rem;
  }
  
  .social-list::after, .social-list::before {
    content: '';
    width: 1px;
    display: block;
    margin: 0 auto;
    height: 100%;
    background-color: var(--pink);
  }
}
  